# -----------------------
# ENVIRONMENTS
# -----------------------
env/
.conda/
venv/

# -----------------------
# PYTHON CACHE
# -----------------------
__pycache__/
*.pyc
*.pyo

# -----------------------
# LARGE FILES / MODELS
# -----------------------
*.pt
*.pth
*.h5
*.onnx
*.engine

# -----------------------
# DATA & OUTPUTS
# -----------------------
data/
dataset/
runs/
logs/

# -----------------------
# NOTEBOOKS / TEMP
# -----------------------
*.ipynb_checkpoints

# -----------------------
# OS FILES
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# EDITOR SETTINGS
# -----------------------
.vscode/
.idea/